.header {
  background-color: #f0f0f0;
  /*border-radius: 12px;*/
  padding: 20px;
  text-align: left;
  font-size: 35px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #cccccc;
  /*position: fixed;*/
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  font-family: LatoLatinWebLight,sans-serif;
  font-weight: bold;
  color: #0055ff;

}

.footer {
  /*position: fixed;*/
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.spacer {
  /*position: fixed;*/
  top: 81px;
  left: 0;
  right: 0;
  width: auto;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;

}
* {
  box-sizing: border-box;
}

.box-edge {
  float: left;
  width: 10%; /* three boxes (use 25% for four, and 50% for two, etc) */
  padding: 50px; /* if you want space between the images */
}
.box-middle {
  float: left;
  width: 80%; /* three boxes (use 25% for four, and 50% for two, etc) */
  padding: 50px; /* if you want space between the images */
}


.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
