.header {
  background-color: #f0f0f0;
  /*border-radius: 12px;*/
  padding: 20px;
  text-align: left;
  font-size: 35px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #cccccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  font-family: LatoLatinWebLight,sans-serif;
  font-weight: bold;
  color: #0055ff;

}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.spacer {
  position: fixed;
  top: 81px;
  left: 0;
  right: 0;
  width: auto;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;

}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
