<!DOCTYPE html>
<html lang="en">
<head>
  {% if title %}
  <title>{{ title }} Automation Demo</title>
  {% else %}
  <title>Untitled Automation Demo</title>
  {% endif %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<meta charset="utf-8">




</style>
</head>
<body>

<div class="header">
    <img src="static/images/junpstart.ico" style="width:30px;height:30px;">
    Automation Jumpstart
</div>
<div class="spacer">
  spacer
</div>
<div class="clearfix">
  <div class="box-edge" style="background-color:#bbb">
  <p>Edge</p>
  </div>
  <div class="box-middle" style="background-color:#ccc">
  <p>Some text inside the box.</p>
  </div>
  <div class="box-edge" style="background-color:#ddd">
  <p>Edge</p>
  </div>
</div>
<div class="footer">
  <p>Footer</p>
</div>

</body>
</html>
